:root {
  --foreground: #ffffff;
  --background: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-weight: 300;
}